<!--
  Generated template for the ReaderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header #readerHeader [@slideUp]="slideUpState">
  <ion-navbar color="dark">
      <ion-buttons start>
            <button ion-button (tap)="goBack()" *ngIf="canBack">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
      </ion-buttons>
      <ion-title *ngIf="currentHymn && currentHymn.title">
         <span (tap)="presentInputModal()" id="hymnTitle">Hymn #{{ currentHymn.title }}</span>
         <button ion-button clear (tap)="presentTunePopover($event)" *ngIf="tunes.length > 0" class="caret">
            <ion-icon ios="ios-arrow-down" md="md-arrow-dropdown"></ion-icon>
         </button>
      </ion-title>
      <ion-buttons end>
          <button ion-button icon-only (tap)="toggleBookmark()">
              <ion-icon name="star-outline" *ngIf="!isBookmarked"></ion-icon>
              <ion-icon name="star" *ngIf="isBookmarked"></ion-icon>
          </button>
          <button ion-button icon-only (tap)="presentPopover($event)" id="settings">
              <fa-icon icon="font"></fa-icon>
          </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding #lyricsContainer class="{{ 'theme-' + themeString }}" (tap)="toggleFullLyrics($event)" (pinchmove)="pinchZoom($event)" (pinchend)="curScale = 0">
  <div class="hymn-content" *ngIf="currentHymn"
      [ngStyle]="{'paddingBottom.px': extraSpace, 'fontSize.em': fontSize, 'fontFamily': fontName, 'letterSpacing': fontName == 'Nuecha' ? '2px': 'initial'}"
      [attr.text-left]="alignment == 'left' ? true : null"
      [attr.text-center]="alignment == 'center' ? true : null"
      [attr.text-right]="alignment == 'right' ? true : null">
      <div class="lyrics" [innerHTML]="getLyrics()" [ngClass]="{'show-stanza': showStanza}"
            (panend)="catchHighlightedText($event)" (pressup)="catchHighlightedText($event)">
      </div>
  </div>
  <!-- <ng-walkthrough-flow
      focusBackdrop="true"
      focusGlow="true"
      focusHighlightAnimation="true"
      closeButton="true"
      closeAnywhere="false"
      showArrow="true"
      radius="auto" #walkFlow1>
      <ng-walkthrough id="walk-to-title"
         focusElementSelector="span#hymnTitle"
         contentText="Tap to browse hymns in the hymnal"
         typeSelector="element">

      </ng-walkthrough>
    </ng-walkthrough-flow> -->
</ion-content>

<ion-footer #footerReader>
  <ion-toolbar [ngSwitch]="footerType">
      <ion-buttons *ngSwitchDefault>
         <button ion-button clear color="primary" (tap)="footerType = 'player'">player</button>
         <button ion-button clear color="primary" (tap)="footerType = 'scroller'">scroller</button>
      </ion-buttons>
      <ng-container *ngSwitchCase="'player'">
         <button ion-button clear (tap)="footerType = ''">
            <ion-icon name="arrow-dropleft-circle"></ion-icon>
         </button>
         <button ion-button clear (tap)="playTrack()" *ngIf="mdiPlayer && mdiSound && !mdiPlayer.isPlaying()" [disabled]="currentHymn && !currentHymn['midi']">
            <ion-icon name="play"></ion-icon>
         </button>
         <button ion-button clear (tap)="pauseTrack()" *ngIf="mdiPlayer && mdiSound && mdiPlayer.isPlaying()" [disabled]="currentHymn && !currentHymn['midi']">
            <ion-icon name="pause"></ion-icon>
         </button>
         <button ion-button clear *ngIf="!mdiSound">
            <!-- <span class="fa fa-spinner fa-pulse fa-2x"></span> -->
            <fa-icon icon="spinner" [pulse]="true" size="2x"></fa-icon>
         </button>
   
         <button ion-button clear (tap)="stopTrack()" *ngIf="mdiPlayer && mdiSound" [disabled]="!mdiPlayer" [disabled]="currentHymn && !currentHymn['midi']">
            <ion-icon name="square"></ion-icon>
         </button>
   
         <ion-range [max]="mdiLength" [(ngModel)]="mdiCur" step="1" (panend)="mdiChange($event)" (tap)="mdiChange($event)">
            <ion-label range-left small>{{ secsToMins(mdiCur) }}</ion-label>
            <ion-label range-right small>{{ secsToMins(mdiLength) }}</ion-label>
         </ion-range>
   
         <button ion-button clear (tap)="presentMidiPopover($event)" [disabled]="currentHymn && !currentHymn['midi']">
            <fa-icon icon="sliders-h" size="2x"></fa-icon>
         </button>
      </ng-container>
      <ng-container *ngSwitchCase="'scroller'">
         <button ion-button clear (tap)="footerType = ''">
            <ion-icon name="arrow-dropleft-circle"></ion-icon>
         </button>
         <button ion-button clear (tap)="playScroll()" [disabled]="" *ngIf="!scrollInterval">
            <ion-icon name="play"></ion-icon>
         </button>
         <button ion-button clear (tap)="pauseScroll()" *ngIf="scrollInterval">
            <ion-icon name="pause"></ion-icon>
         </button>
         <ion-range [max]="10" [(ngModel)]="scrollCur" step="1" (panend)="scrollChange($event)" (tap)="scrollChange($event)">
            <ion-label range-left small>{{scrollCur}}</ion-label>
            <ion-label range-right small>10</ion-label>
         </ion-range>
      </ng-container>
  </ion-toolbar>
</ion-footer>

