intro-slider {
    ion-toolbar{
        position: absolute !important;
        top: 0;
    }
    .swiper-container{
        background: map-get($colors, 'dark') !important;

        p{
            width: 90%;
            margin: 0 5%;
        }

        .icon-container{
            position: relative;
            height: 2em;
            img:not(.cropped){
                height: 150px;
                margin-top: 100px;
            }
            img.cropped{
                height: 3em;
                max-height: 3em;
                clip: rect(0, 3em, 2em, 0);
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, 0);
            }
            ion-icon{
                display: inline-block;
                font-size: 1.6em;
                margin-top: 50px;
            }
        }
    }
    .swiper-pagination{
        background: map-get($colors, 'dark') !important;
        .swiper-pagination-bullet{
            background: #fff;
            opacity: 0.6;

            &.swiper-pagination-bullet-active{
                background: map-get($colors, 'primary') !important;
                opacity: 1;
            }
        }
    }
    .container{
        position: absolute;
        clip: rect(0, 350px, 334px, 0px);
        left: 50%;
        transform: translateX(-50%);
        top: 55px;
    }
}
